In [2]:
import sqlite3

## Connect to db

In [4]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
              CREATE TABLE classroom2 (
              student_id INTEGER PRIMARY KEY,
              name VARCHAR(20),
              gender CHAR(1),
              physics_marks INTEGER,
              chemistry_marks INTEGER,
              mathematics_marks INTEGER
              );
              """
cursor.execute(create_table)
connection.commit()
connection.close()

In [5]:
classroom_data = [(1, "Raj", "M", 80,89,88),
                  (2, "Lara", "F", 99, 88,87),
                  (3, "Rehman", "M", 98,97,94)]

connection=sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
for student in classroom_data:
    insert_statement = """
                       INSERT INTO classroom2
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                       VALUES ({0}, "{1}", "{2}", {3},{4},{5});""".format(student[0], student[1], student[2], student[3],
                                                                         student[4], student[5])
    
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [6]:
connection=sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
query="SELECT * FROM classroom2"
cursor.execute(query)
result=cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 80, 89, 88)
(2, 'Lara', 'F', 99, 88, 87)
(3, 'Rehman', 'M', 98, 97, 94)

In [7]:
# MySQL db 
!conda install -y -q pymysql

Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\simra\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.24  |                0         165 KB
    conda-4.8.4                |           py37_0         3.1 MB
    ------------------------------------------------------------
                                           Total:         3.2 MB

The following packages will be UPDATED:

  ca-certificates                                2020.1.1-0 --> 2020.6.24-0
  conda                                        4.8.3-py37_0 --> 4.8.4-py37_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done