In [1]:
import sqlite3

## Connect to db

In [6]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
              CREATE TABLE classroom1 (
              student_id INTEGER PRIMARY KEY,
              name VARCHAR(20),
              gender CHAR(1),
              physics_marks INTEGER,
              chemistry_marks INTEGER,
              mathematics_marks INTEGER
              );
              """
cursor.execute(create_table)
connection.commit()
connection.close()

In [10]:
classroom_data = [(1, "Raj", "M", 80,89,88),
                  (2, "Lara", "F", 99, 88,87),
                  (3, "Rehman", "M", 98,97,94)]

connection=sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
for student in classroom_data:
    insert_statement = """
                       INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                       VALUES ({0}, "{1}", "{2}", {3},{4},{5});""".format(student[0], student[1], student[2], student[3],
                                                                         student[4], student[5])
    
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [12]:
connection=sqlite3.connect("classroomDB.db")
cursor=connection.cursor()
query="SELECT * FROM classroom"
cursor.execute(query)
result=cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 80, 89, 88)
(2, 'Lara', 'F', 99, 88, 87)
(3, 'Rehman', 'M', 98, 97, 94)

In [ ]:
# MySQL db 
!conda install -y -q pymysql