In [14]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
# Index Levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [6]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

In [11]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [16]:
df

             A         B
G1 1 -0.279357 -1.785783
   2 -0.317436 -1.886194
   3  0.112115  1.287920
G2 1  0.148514 -0.264264
   2 -0.329040 -1.914970
   3 -0.298517  0.322190

In [17]:
df.loc['G1']

          A         B
1 -0.279357 -1.785783
2 -0.317436 -1.886194
3  0.112115  1.287920

In [18]:
df.loc['G1'].loc[1]

A   -0.279357
B   -1.785783
Name: 1, dtype: float64

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names=['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1   -0.279357 -1.785783
       2   -0.317436 -1.886194
       3    0.112115  1.287920
G2     1    0.148514 -0.264264
       2   -0.329040 -1.914970
       3   -0.298517  0.322190

In [23]:
df.loc['G2'].loc[2]['B']

-1.9149700657948643

In [24]:
df.xs('G1')

            A         B
Num
1   -0.279357 -1.785783
2   -0.317436 -1.886194
3    0.112115  1.287920

In [25]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.279357 -1.785783
G2      0.148514 -0.264264