In [68]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [69]:
all_tables = pd.read_html('https://fbref.com/en/comps/82/Indian-Super-League-Stats')

In [70]:
team_stats = pd.DataFrame(all_tables[3])

In [71]:
team_stats.columns = [' '.join(col).strip() for col in team_stats.columns]

In [72]:
team_stats.columns

Index(['Unnamed: 0_level_0 Squad', 'Unnamed: 1_level_0 # Pl',
       'Unnamed: 2_level_0 Age', 'Unnamed: 3_level_0 Poss', 'Playing Time MP',
       'Playing Time Starts', 'Playing Time Min', 'Playing Time 90s',
       'Performance Gls', 'Performance Ast', 'Performance G+A',
       'Performance G-PK', 'Performance PK', 'Performance PKatt',
       'Performance CrdY', 'Performance CrdR', 'Per 90 Minutes Gls',
       'Per 90 Minutes Ast', 'Per 90 Minutes G+A', 'Per 90 Minutes G-PK',
       'Per 90 Minutes G+A-PK'],
      dtype='object')

In [73]:
team_stats.rename(columns={team_stats.columns[3]: 'Poss'}, inplace=True)
team_stats.rename(columns={team_stats.columns[0]: 'Team'}, inplace=True)

In [74]:
team_stats.columns

Index(['Team', 'Unnamed: 1_level_0 # Pl', 'Unnamed: 2_level_0 Age', 'Poss',
       'Playing Time MP', 'Playing Time Starts', 'Playing Time Min',
       'Playing Time 90s', 'Performance Gls', 'Performance Ast',
       'Performance G+A', 'Performance G-PK', 'Performance PK',
       'Performance PKatt', 'Performance CrdY', 'Performance CrdR',
       'Per 90 Minutes Gls', 'Per 90 Minutes Ast', 'Per 90 Minutes G+A',
       'Per 90 Minutes G-PK', 'Per 90 Minutes G+A-PK'],
      dtype='object')

In [76]:
# Question1: Get the team with the highest possession
top_possession_team = team_stats[['Team', 'Poss']].sort_values(by='Poss', ascending=False).head(1)
print(top_possession_team)

        Team  Poss
0  Bengaluru  57.5

In [79]:
team_goals = pd.DataFrame(all_tables[1])

In [80]:
team_goals.columns = [' '.join(col).strip() for col in team_goals.columns]

In [82]:
team_goals

,Unnamed: 0_level_0 Rk,Unnamed: 1_level_0 Squad,Home MP,Home W,Home D,Home L,Home GF,Home GA,Home GD,Home Pts,Home Pts/MP,Away MP,Away W,Away D,Away L,Away GF,Away GA,Away GD,Away Pts,Away Pts/MP
0,1,Mohun Bagan,10,9,1,0,23,6,17,28,2.80,10,5,3,2,16,8,8,18,1.80
1,2,Goa,10,6,2,2,18,11,7,20,2.00,9,4,4,1,17,13,4,16,1.78
2,3,Jamshedpur,10,8,1,1,20,13,7,25,2.50,8,3,0,5,10,16,-6,9,1.13
3,4,Mumbai City,10,4,3,3,10,12,-2,15,1.50,9,4,4,1,14,10,4,16,1.78
4,5,NorthEast Utd,10,3,4,3,17,13,4,13,1.30,10,4,4,2,20,14,6,16,1.60
5,6,Bengaluru,9,5,2,2,18,10,8,17,1.89,10,3,2,5,15,18,-3,11,1.10
6,7,Odisha,9,3,4,2,17,16,1,13,1.44,10,3,3,4,20,16,4,12,1.20
7,8,Kerala Blasters,9,4,1,4,14,11,3,13,1.44,10,3,2,5,16,19,-3,11,1.10
8,9,Punjab,10,5,1,4,16,14,2,16,1.60,8,2,1,5,10,14,-4,7,0.88
9,10,East Bengal,9,4,1,4,13,13,0,13,1.44,9,1,2,6,5,10,-5,5,0.56
10,11,Chennaiyin,9,1,4,4,9,15,-6,7,0.78,10,3,2,5,15,17,-2,11,1.10
11,12,Hyderabad FC,8,1,3,4,7,19,-12,6,0.75,10,2,1,7,9,18,-9,7,0.70
12,13,Mohammedan,9,0,3,6,5,17,-12,3,0.33,9,2,2,5,3,14,-11,8,0.89

In [83]:
team_goals.rename(columns={team_goals.columns[6]: 'HomeGoals'}, inplace=True)
team_goals.rename(columns={team_goals.columns[7]: 'HomeConceded'}, inplace=True)
team_goals.rename(columns={team_goals.columns[1]: 'Team'}, inplace=True)
team_goals.rename(columns={team_goals.columns[15]: 'AwayGoals'}, inplace=True)
team_goals.rename(columns={team_goals.columns[16]: 'AwayConceded'}, inplace=True)

In [84]:
team_goals

,Unnamed: 0_level_0 Rk,Unnamed: 1_level_0 Squad,Home MP,Home W,Home D,Home L,Home GF,Home GA,Home GD,Home Pts,Home Pts/MP,Away MP,Away W,Away D,Away L,Away GF,Away GA,Away GD,Away Pts,Away Pts/MP
0,1,Mohun Bagan,10,9,1,0,23,6,17,28,2.80,10,5,3,2,16,8,8,18,1.80
1,2,Goa,10,6,2,2,18,11,7,20,2.00,9,4,4,1,17,13,4,16,1.78
2,3,Jamshedpur,10,8,1,1,20,13,7,25,2.50,8,3,0,5,10,16,-6,9,1.13
3,4,Mumbai City,10,4,3,3,10,12,-2,15,1.50,9,4,4,1,14,10,4,16,1.78
4,5,NorthEast Utd,10,3,4,3,17,13,4,13,1.30,10,4,4,2,20,14,6,16,1.60
5,6,Bengaluru,9,5,2,2,18,10,8,17,1.89,10,3,2,5,15,18,-3,11,1.10
6,7,Odisha,9,3,4,2,17,16,1,13,1.44,10,3,3,4,20,16,4,12,1.20
7,8,Kerala Blasters,9,4,1,4,14,11,3,13,1.44,10,3,2,5,16,19,-3,11,1.10
8,9,Punjab,10,5,1,4,16,14,2,16,1.60,8,2,1,5,10,14,-4,7,0.88
9,10,East Bengal,9,4,1,4,13,13,0,13,1.44,9,1,2,6,5,10,-5,5,0.56
10,11,Chennaiyin,9,1,4,4,9,15,-6,7,0.78,10,3,2,5,15,17,-2,11,1.10
11,12,Hyderabad FC,8,1,3,4,7,19,-12,6,0.75,10,2,1,7,9,18,-9,7,0.70
12,13,Mohammedan,9,0,3,6,5,17,-12,3,0.33,9,2,2,5,3,14,-11,8,0.89